/* line 11, ../../compass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 13, ../../compass/style.scss */
h1 {
  font-size: 160%;
}

/* line 14, ../../compass/style.scss */
h2 {
  font-size: 140%;
}

/* line 15, ../../compass/style.scss */
h3 {
  font-size: 120%;
}

/* line 17, ../../compass/style.scss */
.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

/* line 22, ../../compass/style.scss */
ol, ul {
  list-style: none outside none;
}

/* line 26, ../../compass/style.scss */
html, body {
  height: 100%;
}

/* line 29, ../../compass/style.scss */
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  min-width: 800px;
  min-height: 600px;
}

/* line 37, ../../compass/style.scss */
#site {
  width: 100%;
  height: 100%;
}

/* line 42, ../../compass/style.scss */
.blocks, #leftBlock, #rightBlock {
  float: left;
  width: 49.75%;
  height: 100%;
}
/* line 46, ../../compass/style.scss */
.blocks .content, #leftBlock .content, #rightBlock .content {
  width: 100%;
}
/* line 48, ../../compass/style.scss */
.blocks .content .firstStep, #leftBlock .content .firstStep, #rightBlock .content .firstStep {
  margin-top: 40%;
  cursor: pointer;
}
/* line 50, ../../compass/style.scss */
.blocks .content .firstStep .text, #leftBlock .content .firstStep .text, #rightBlock .content .firstStep .text {
  text-align: center;
}
/* line 54, ../../compass/style.scss */
.blocks .content .firstStep .img, #leftBlock .content .firstStep .img, #rightBlock .content .firstStep .img {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 20px auto;
}
/* line 62, ../../compass/style.scss */
.blocks .content .secondStep, #leftBlock .content .secondStep, #rightBlock .content .secondStep {
  display: none;
  padding-top: 10%;
  height: 500px;
  width: 500px;
  margin: auto;
}
/* line 68, ../../compass/style.scss */
.blocks .content .secondStep .form, #leftBlock .content .secondStep .form, #rightBlock .content .secondStep .form {
  margin: 0 auto;
}
/* line 70, ../../compass/style.scss */
.blocks .content .secondStep .form .text, #leftBlock .content .secondStep .form .text, #rightBlock .content .secondStep .form .text {
  width: 300px;
  height: 100px;
  margin: auto;
  border-top: solid 3px;
  border-bottom: solid 3px;
  padding-top: 60px;
  text-align: center;
}
/* line 79, ../../compass/style.scss */
.blocks .content .secondStep .form form, #leftBlock .content .secondStep .form form, #rightBlock .content .secondStep .form form {
  width: 100%;
  text-align: center;
  margin: auto;
}
/* line 83, ../../compass/style.scss */
.blocks .content .secondStep .form form input[type=text], #leftBlock .content .secondStep .form form input[type=text], #rightBlock .content .secondStep .form form input[type=text] {
  margin-top: 30px;
  width: 100%;
  height: 70px;
  padding: 10px 5px;
  font: bold 2em 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #f6f6f6;
  color: #e9c33f;
  text-align: center;
  -webkit-box-shadow: red 0px -5px 0px;
  -moz-box-shadow: red 0px -5px 0px;
  box-shadow: red 0px -5px 0px;
}
/* line 95, ../../compass/style.scss */
.blocks .content .secondStep .form form input[type=submit], #leftBlock .content .secondStep .form form input[type=submit], #rightBlock .content .secondStep .form form input[type=submit] {
  background: transparent;
  border: 0;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 1.2em;
}
/* line 102, ../../compass/style.scss */
.blocks .content .secondStep .form form input[type=submit]:hover, #leftBlock .content .secondStep .form form input[type=submit]:hover, #rightBlock .content .secondStep .form form input[type=submit]:hover {
  color: #e9c33f;
  cursor: pointer;
}

/* line 112, ../../compass/style.scss */
#leftBlock {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #f6f6f6), color-stop(100%, #d3d3d3));
  background-image: -webkit-radial-gradient(circle contain, #f6f6f6, #d3d3d3);
  background-image: -moz-radial-gradient(circle contain, #f6f6f6, #d3d3d3);
  background-image: -o-radial-gradient(circle contain, #f6f6f6, #d3d3d3);
  background-image: radial-gradient(circle contain, #f6f6f6, #d3d3d3);
}

/* line 117, ../../compass/style.scss */
#rightBlock {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #4d4d4d), color-stop(100%, #010101));
  background-image: -webkit-radial-gradient(circle contain, #4d4d4d, #010101);
  background-image: -moz-radial-gradient(circle contain, #4d4d4d, #010101);
  background-image: -o-radial-gradient(circle contain, #4d4d4d, #010101);
  background-image: radial-gradient(circle contain, #4d4d4d, #010101);
}
/* line 122, ../../compass/style.scss */
#rightBlock .content .firstStep .text {
  color: white;
}

/* line 129, ../../compass/style.scss */
#separatorBlock {
  height: 100%;
  width: 0.5%;
  background-color: #e9c33f;
  float: left;
}

/* line 136, ../../compass/style.scss */
#logo {
  position: absolute;
  width: 400px;
  height: 100px;
  background-color: black;
  top: 15%;
  left: 50%;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 144, ../../compass/style.scss */
#logo .text {
  color: white;
  margin-top: 40px;
  text-transform: uppercase;
}
